.extras
.mypy_cache
.pytest_cache
.ruff_cache
.scannerwork
.venv
.vscode
build
docs
patient.egg-info
htmlcov
log
site
src/patient/**/__pycache__
src/patient/config/jwt/private-key.pem
src/patient/config/tls/private-key.pem
tests
typings
.coverage
.editorconfig
.gitignore
.markdownlint.yml
.safety-policy.v3.yml
Dockerfile
mkdocs.yml
openapi.json
report.html
sonar-*
